{% if not authStatus %}
    <form action="{{ action }}" method="post">
        <div class="form-group">
            <label for="input-user-name">User name</label>
            <input type="text"
                   name="user_name"
                   class="form-control"
                   id="input-user-name"
                   placeholder="Enter you name"
            />
        </div>

        <button type="submit" class="btn btn-primary">Auth</button>
    </form>
    <hr/>
{% endif %}
