{% extends '@App/base/base.html.twig' %}

{% block body %}

    {% for post in posts %}
        <div class="card" style="margin-top: 10px;">
            <h5 class="card-header">{{ post.title }}</h5>
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer">
                <div class="h5">Comments:</div>
                 {% for comment in post.comments %}
                     <div class="media">
                         <div class="media-body">
                             <h5 class="mt-0">User: {{ comment.user.name }}</h5>
                             {{ comment.content }}
                         </div>
                     </div>
                     <hr />
                 {% endfor %}

                {% if authStatus %}
                <form method="post" action="{{ addCommentAction }}">
                    <div class="form-group">
                        <input type="hidden" name="post" value="{{ post.id }}" />
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="content" placeholder="you comment" />
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-success">Add comment</button>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
