{% if authStatus %}
    <form action="{{ action }}" method="post">
        <div class="form-group">
            <label for="input-post-title">Title</label>
            <input type="text"
                   name="title"
                   class="form-control"
                   id="input-post-title"
                   placeholder="Enter post title"
            />
        </div>

        <div class="form-group">
            <label for="input-post-content">Content</label>
            <textarea class="form-control"
                      name="content"
                      id="input-post-content"
                      placeholder="Enter post content"
            ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Add post</button>
    </form>
    <hr/>
{% endif %}
