<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
</head>
<body>

<div class="container">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ render(controller('AppBundle:Default:authForm')) }}
    {{ render(controller('AppBundle:Default:postForm')) }}

    {% block body %}{% endblock %}
</div>
<script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
</body>
</html>
